
  <ion-header class="ion-no-border">
    <ion-toolbar class="create-order-header">
      <ion-title style="font-weight: 600;">
        Create Order
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-searchbar></ion-searchbar>
  </div>
  <ion-content [scrollEvents]="true" style="height: 480px;">
<ion-row style="height: 2em;"></ion-row>
  <div *ngFor="let product of productList">
  <ion-item>
    <ion-label>
      <ion-row>
        <ion-col>
      {{product.productName}}
    </ion-col>
    <ion-col>
      {{product.productDesc}}
    </ion-col>
    <ion-col>
      <ion-icon style="float: right;" name="add-circle" *ngIf="!product.iconChange" (click)="addProductIntoCart(product.productId)"></ion-icon>
      <ion-icon style="float: right; color: green;" name="checkmark-circle" *ngIf="product.iconChange" (click)="addProductIntoCart(product.productId)"></ion-icon>
    </ion-col>
    </ion-row>
    </ion-label>
  </ion-item>
</div>
</ion-content>
<ion-footer>
<!-- <ion-button expand="block" disabled={{!buttonDisabled}} size="large" style="padding-left: 1em; padding-right: 1em;" (click)="createOrder()">Create Order</ion-button> -->
<ion-item class="ion-float-right" lines="none">
  <ion-button color="primary" (click)="goBack()">Back</ion-button>
  <ion-button color="primary" (click)="createOrder()">Create Order</ion-button>
</ion-item>
</ion-footer>

