<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar class="create-order-header">
      <ion-title style="font-weight: 600;">Create Order</ion-title>
    </ion-toolbar>
  </ion-header>
  <div> 
    <ion-searchbar></ion-searchbar>
  </div>
<ion-row style="height: 2em;"></ion-row>
  <div *ngFor="let order of orders">
  <ion-item>
    <ion-label>
      {{order}}
      <ion-icon style="float: right;" name="add-circle"></ion-icon>
    </ion-label>
  </ion-item>
</div>
<ion-row style="height: 10em;"></ion-row>
<ion-button expand="block" size="large" style="padding-left: 1em; padding-right: 1em;">Create Order</ion-button>
</ion-content>
