/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-searchbar {
    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    .searchbar-input-container {
        margin: 0 0.8em 0 0.8em;
        input{
            border-radius: 1em !important;
            background-color: #eaedf1 !important;
        }
    }
}

ion-icon {
    font-size: 1.8em; //Preferred size here
}

.toast-custom-class {
    --color:#ffffff;
    --border-color:#ffffff;
    --border-radius:5px;
    --border-style:solid;
    --border-width:3px;
    --button-color:#ffffff;
}

.toast-success-class {
    --background:#32db64;
}

.toast-error-class {
    --background:#db3232;
}

.toast-warning-class {
    --background:#dbcd32;
}