<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="action-page">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="btn-action">
    <ion-card-content>
      <ion-card-title>Add Product</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="btn-action">
    <ion-card-content>
      <ion-card-title>View Product</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="btn-action">
    <ion-card-content>
      <ion-card-title>Create Order</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="btn-action">
    <ion-card-content>
      <ion-card-title>View Order</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="btn-action">
    <ion-card-content>
      <ion-card-title>Add Distributor</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="btn-action">
    <ion-card-content>
      <ion-card-title>Deliver Order</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="btn-action">
    <ion-card-content>
      <ion-card-title>Order/ Product History</ion-card-title>
    </ion-card-content>
  </ion-card>

</ion-content>
