.action-page{
    background-color: rgb(237, 239, 245);
        
    .btn-action{
        background-color: rgb(75, 129, 232);
        
        ion-card-title{
            color: rgb(255, 255, 255);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
