<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ article?.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Result</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img [src]="article?.urlToImage"></ion-img>

    <ion-card-content>
      <ion-card-title>{{ article?.title }}</ion-card-title>
    </ion-card-content>

    <p>{{ article?.description }}</p>
  </ion-card>

</ion-content>
